---
title: Contact - Solal Dussout-Revel
slug: contact
---

<div class="contact center-y">

	<div class="wrapper center-x">
		<h1 class="title title--page animate"><%= t(:title, scope: [:contact]) %></h1>
		<div class="form__container">
			<form id="sendmail" class="form" action="/postmail.php" method="post">
				<input class="form__input animate animate--fade-right-2 animate--delay-1" type="text" name="name" placeholder="<%= t(:name, scope: [:contact]) %>">
				<input class="form__input animate animate--fade-right-2 animate--delay-2" type="text" name="email" placeholder="<%= t(:email, scope: [:contact]) %>">
				<input class="form__input animate animate--fade-right-2 animate--delay-3" type="text" name="subject" placeholder="<%= t(:subject, scope: [:contact]) %>">
				<textarea class="form__text animate  animate--fade-right-2 animate--delay-4" name="content" id="" cols="30" rows="10" placeholder="<%= t(:content, scope: [:contact]) %>"></textarea>
				<div class="center-x form__submit-container">
					<input type="submit" class="form__submit animate animate--fade-right-2 animate--delay-5" value="<%= t(:send, scope: [:actions]) %>">	
				</div>
			</form>
		</div>
	</div>

	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--right", :data => { :animate => "left" } %>
	<%= link_to "", "/" ,class: "arrow-link animate animate--fade-top-1 arrow-link--right", :data => { :animate => "left" } %>
</div>
