---
title: Solal Dussout-Revel | Developpeur Web
slug: home
---

<div class="home">

	<div class="menu">
		
		
			<%= link_to t(:menu_title, scope: [:skills]), "/skills.html", class: "bg-light-a menu__item menu__item--top menu__item--hide", :data => { :animate => "bottom" } %>
		
		
			<%= link_to t(:menu_title, scope: [:about]), "/about.html", class: "bg-light-a menu__item menu__item--right menu__item--hide", :data => { :animate => "left" } %>
		
		
			<%= link_to t(:menu_title, scope: [:works]), "/works.html", class: "bg-light-a menu__item menu__item--bottom menu__item--hide", :data => { :animate => "top" } %>
		
		
			<%= link_to t(:menu_title, scope: [:contact]), "/contact.html", class: "bg-light-a menu__item menu__item--left menu__item--hide", :data => { :animate => "right" } %>
		
	</div>

	<div class="home__container bg-light-a">
		<h1 class="home__title animate" ><%= t(:title, scope: [:home]) %></h1>
		<h2 class="home__subtitle animate"><%= t(:subtitle, scope: [:home]) %></h2>
	</div>

	
</div>