---
title: Solal Dussout-Revel | Developpeur Web
slug: home
---

<div class="home">

	<div class="menu">
		
		<div class="bg-light-a menu__item menu__item--top-left menu__item--hide">
			<%= link_to t(:menu_title, scope: [:skills]), "/skills.html", :data => { :animate => "right" } %>
		</div>
		
		<div class="bg-light-a menu__item menu__item--top-right menu__item--hide">
			<%= link_to t(:menu_title, scope: [:about]), "/about.html", :data => { :animate => "bottom" } %>
		</div>
		
		<div class="bg-light-a menu__item menu__item--bottom-right menu__item--hide">
			<%= link_to t(:menu_title, scope: [:works]), "/works.html", :data => { :animate => "left" } %>
		</div>
		
		<div class="bg-light-a menu__item menu__item--bottom-left menu__item--hide">
			<%= link_to t(:menu_title, scope: [:contact]), "/contact.html", :data => { :animate => "top" } %>
		</div>
		
	</div>

	<div class="home__container bg-light-a">
		<h1 class="home__title animate" ><%= t(:title, scope: [:home]) %></h1>
		<h2 class="home__subtitle animate"><%= t(:subtitle, scope: [:home]) %></h2>
	</div>

	
</div>