---
title: Works - Solal Dussout-Revel
slug: works
---

<div class="works">

	<h1 class="title title--page title--fixed animate animate--fade-left-2 animate--delay-1"><%= t(:title, scope: [:works]) %></h1>	

	<div class="works__container wrapper">
		<div class="projects">
			<% data.projects.projects.each_with_index do |project, i| %>

				<div class="projects__item" data-cursor="link" data-slug="<%= project.slug %>">
					<div class="projects__item-container animate animate--fade-top-2 animate--delay-<%= i+1 %>"
						<% if current && current == project %> data-current="true" <% end %>>
						<div class="projects__item-perspective">
							<div class="projects__item-miniature" 
							style='background-image: url("/images/<%= project.thumbnail %>");'>
								<p class="projects__item-title"><%#= project.name %></p>
							</div>
							<div class="projects__item-full">
								<%= partial(:project, :locals => { :project => project }) %>
							</div>
						</div>
						
					</div>
					
				</div>		
			<% end %>
		</div>

	</div>

	<%#= link_to "", "/" ,class: "hide-link hide-link--left", :data => { :animate => "right" } %>
	<%= link_to "", "/" ,class: "guide-link guide-link--hide guide-link--top", :data => { :animate => "bottom" } %>
</div>
